.weatherFieldContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testBorderPink {
    border: 1px solid #000000;
    margin: 5px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.weatherDayLabel {
    font-size: 14px;
    font-weight: bold;
    margin: 3px;
    padding: 3px;
}

.weatherDateLabel {
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
    padding: 3px;
}

.weatherCloudiness {
    margin: 1px;
    padding: 1px;
}

.weatherCloudinessText {
    margin: 3px;
    padding: 3px;
}

.weatherCloudinessIcon {
    margin: 3px;
    padding: 3px;
}

.weatherTemperature{
    margin: 1px;
    padding: 1px;
}

.weatherTemperatureDay {
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
    padding: 3px;
}

.weatherTemperatureNight {
    font-weight: bold;
    color: #555555;
    margin: 3px;
    padding: 3px;
}

.weatherPressure {
    font-size: 14px;
    color: #555555;
    margin: 3px;
    padding: 3px;
}

.weatherHumidity {
    font-size: 14px;
    color: #555555;
    margin: 3px;
    padding: 3px;
}

.weatherWind {
    font-size: 14px;
    color: #555555;
    margin: 3px;
    padding: 3px;
}

.weatherFeelsLike {
    font-size: 14px;
    color: #555555;
    margin: 3px;
    padding: 3px;
}