.weatherGrid {
    flex-grow: 1;

    display: flex;
    display: -ms-flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: space-around;
}

.weatherGridContainer {
    display: flex;
    display: -ms-flex;
    display: -ms-flexbox;
    flex-direction: row;
}

.weatherGridLeftButton {
    display: flex;
    display: -ms-flex;
    display: -ms-flexbox;
    flex-direction: row;
    margin-left: 5px;
}

.weatherGridRightButton {
    display: flex;
    display: -ms-flex;
    display: -ms-flexbox;
    flex-direction: row;
    margin-right: 5px;
}